<div class="container-fluid">   
      <nav class="navbar navbar-expand-lg">
        <button class="btn btn-warning mt-2" routerLink="/home"><i class="fas fa-arrow-alt-circle-left"></i> Back </button>
        <ul class="navbar-nav ms-auto md-lg-0">
          <!-- cart icon -->
          <li class="nav-item mt-2">
            <a class="nav-link btn btn-sm btn-warning" *ngIf="!admin&&username!=null" routerLink="/user/userdashboard/usercart" routerLinkActive="active">
              <h4 class="fas fa-cart-arrow-down">
                <sup class="mx-1">{{userCartSize}}</sup>
              </h4>
            </a>
          </li>
        </ul>
      </nav>
    <div class="row m-5">
        <div class="col-sm-3">
            <img [src]=book.bookImgLink alt="book coverpage" width="80%" >
        </div>
        <div class="col-sm-9">
            <h3>{{book.booktitle}}</h3>
            <p>{{book.publisher}} ({{book.publicationdate}}) </p>
            <p>{{book.author}}</p>
            <ngb-rating [max]="5" [rate]="book.rating" [readonly]="true"></ngb-rating>
            <h5>{{book.price | currency:"INR"}}</h5>
            <p>{{book.paperback}} pages</p>
            <h5>Description:</h5>
            <p>{{book.description}}</p>
            <button class="btn btn-primary mx-2" (click)="wishlist(book)" *ngIf="username!='Admin'"><i class="fas fa-bookmark"></i> Add to WishList</button>
            <button class="btn btn-success" (click)="additem(book)" *ngIf="username!='Admin'"><i class="fas fa-cart-plus"></i> Add to Cart</button>
        </div>
    </div>
</div>
