<div class="container-fluid">
    <div class="row m-5">
        <div class="col-sm-3">
            <img [src]=book.bookImgLink alt="book coverpage" width="80%" >
        </div>
        <div class="col-sm-9">
            <h3>{{book.booktitle}}</h3>
            <p>{{book.publisher}} ({{book.publicationdate}}) </p>
            <p>{{book.author}}</p>
            <ngb-rating [max]="5" [rate]="book.rating" [readonly]="true"></ngb-rating>
            <h5>{{book.price | currency:"INR"}}</h5>
            <p>{{book.paperback}} pages</p>
            <h5>Description:</h5>
            <p>{{book.description}}</p>
            <button class="btn btn-primary mx-2" (click)="wishlist(book)">Add to WishList</button>
            <button class="btn btn-success" (click)="additem(book)">Add to Cart</button>
        </div>
    </div>
</div>
