
<div class="container">
    <h2 class="text-center m-5">{{username}}'s cart</h2>
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let b of cart,let i=index">    
            <div class="card mb-3" style="max-width: 540px;"  >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img [src]=b.bookImgLink class="card-img-top  image-fluid"  style="height: 350px;" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <strong class="card-title mb-2">{{b.booktitle}}</strong>
                        <span class="text-muted mb-5"> {{b.publisher}}</span>
                        <p class="card-title">Author: {{b.author}}</p>
                        <p class="card-title price">Price: {{b.price | currency:"INR"}}</p>
                        <p class="card-title pb-4" *ngIf="b.rating<4">Rating: <span class="bg-warning text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                        <p class="card-title pb-4" *ngIf="b.rating>=4">Rating: <span class="bg-success text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                    
                        <button class="btn btn-danger d-block mb-auto"(click)="delete(i)"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>    
    <div class="container-fluid" *ngIf="cart.length!==0">
        <p class="text-center">Total amount is:</p>
        <button class="btn btn-danger mb-5 d-block mx-auto float-center">Proceed for payment</button>
    </div>
 
    <div class="container-fluid mt-5 tet-center" *ngIf="cart.length==0">
      <h1 class="text-center">Your <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> cart is empty!!</h1>
      <p class="text-center">Add items to it now</p>
      <button class="btn btn-success mx-auto me-auto d-block float-center" (click)="goto()">Shop now</button>

    </div>

</div>

