<div class="container">
    <h2 class="text-center mb-5">{{username}}'s cart</h2>
    <div class="row" *ngFor="let b of cart,let i=index">
      <div class="col-md-1"></div>
        <div class="col-md-10 mb-3" >    
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img [src]=b.bookImgLink class="card-img image-fluid"  style="height: 400px;" alt="...">
                  </div>
                  <div class="col-md-8 pl-5">
                    <div class="card-body">
                        <h5 class="card-title mb-2">{{b.booktitle}}</h5>
                        <p class="text-muted mb-3"> {{b.publisher}}</p>
                        <p class="card-title">Author: {{b.author}}</p>
                        <p class="card-title price">Price: {{b.price | currency:"INR"}}</p>
                        <p class="card-title pb-4" *ngIf="b.rating<4">Rating: <span class="bg-warning text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                        <p class="card-title pb-4" *ngIf="b.rating>=4">Rating: <span class="bg-success text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                        <div class="content">
                          <button class="btn btn-primary" id="button1" type="button"(click)="decrement(b)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                          <span [value]="cart.quantity" class="p-1">{{b.quantity}}</span>
                          <button class="btn btn-primary" id="button2" type="button" (click)="increment(b)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </div>
                    
                        <button class="btn btn-danger mt-5 d-block mb-auto"(click)="delete(i)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>    
    <div class="container-fluid text-center" *ngIf="cart.length!==0">
        <h5 class="text-center">Total amount is : {{amount | currency:"INR"}}</h5>
        <button class="btn btn-success mb-5"(click)="payment()">Checkout</button>
    </div>
 
    <div class="container-fluid mt-5 tet-center" *ngIf="cart.length==0">
      <h1 class="text-center">Your <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> cart is empty!!</h1>
      <p class="text-center">Add items to it now</p>
      <button class="btn btn-success mx-auto me-auto d-block float-center" (click)="goto()">Shop now</button>

    </div>

</div>

