<div class="container" >
    <h1 class="text-center">Categories of Books ({{numofcat}})</h1>
    <div *ngFor="let c of categories, let i=index">
        <h2 class="my-4 ">{{i+1}}. {{c}} :</h2>
        <div class="row">
            <div class="col-md-3 mb-3" *ngFor="let b of books | category:c">    
                <div class="card mx-1" *ngIf="c==b.category" (click)="bookDetails(b)">
                    <img [src]=b.bookImgLink class="card-img-top"  style="height: 270px;" alt="...">
                </div>
            </div>
        </div>       
    </div>
</div>
