div.container {
    font-family: poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
a{
    text-decoration:none;
    cursor: pointer;
    color: blue;
}
#login{
    height: 100%;
    background-color:white;
    opacity: 0.9;
}
.form-check-label,.form-label,button{
    font-size: 20px;
}
#login{
    
    border-radius: 2%;
    
}
