
<body >
    
    
    <div class="container mb-5 pb-5" style="width: 400px;" >
    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Login
    </button>-->
    <!-- Modal -->
    <!--div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Login Options</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">-->
      <form id="login" class="row card g-2 p-3 pt-2 mt-5" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" >
        <h3 class="text-center">Sign-in</h3>
        <div class="form-group col-12 mt-2">
            <label for="inputAddress" class="form-label">Usename</label>
            <input type="text" class="form-control" id="inputAddress" name="username" ngModel>
        </div>
        <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" ngModel>
        </div>          
     
    
        <div class="col-12 mb-1 text-center">
            <button type="submit" class="btn btn-success mt-3 px-5">Login</button><br>
            <span>New User? </span>
             <a class="text-primary" (click)="regiser()"> Start Here</a>
           
        </div>
    </form>
    </div>
    
    <!--<div class="modal-footer" >
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" (click)="regiser()">Register</button>
                          </div>
    </div>-->
    
    
    <script>var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')
       
        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })
        </script>
</body>
    
    
    