
<div class="container-fluid mt-5 mb-2">
    <div class="row">
        <div class="col-sm-2 bg-dark">
            <nav class="nav my-3">
                <li class="nav-item">
                    <a routerLink="/admin/addbook" class="nav-link"><i class="fas fa-book"></i> Add New Book</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin/usermanagement" class="nav-link"><i class="fas fa-users"></i> Users Management</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin/allbooks" class="nav-link"><img src="https://i.postimg.cc/d0tXLtRG/books-stack-of-three.png" width="10%"> Available Books</a>
                </li>
                <li class="nav-item">
                <a routerLink="/admin/categories" class="nav-link"><i class="fas fa-swatchbook"></i> Available Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white" *ngIf="username!=null" (click)="logout()" routerLink="/home" routerLinkActive="active"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a>
                  </li>
            </nav>   
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
