<div class="container">
    <h1 class="text-center mb-4">Users of this Book Store</h1>
    <div class="row">
        <div class="col-sm-3 mb-3" *ngFor="let u of Users">    
            <div class="card text-center p-1">
                <img [src]=u.userImgLink class="card-img-top mx-auto rounded-circle" alt="...">
            <div class="card-body">
                <div class="card-title b">{{u.username}}</div>
                <div class="card-title">{{u.email}}</div>
                <button class="btn btn-danger text-center" (click)="delete(u)">delete</button>
            </div>
        </div>
    </div>       
</div>