<div class="container border bg-light p-5 mb-2"style="max-width: 800px;">

    <div class="row">

        <div class="col-md-6 img">

            <img [src]=userObj.userImgLink alt="user image" width="100%" height="100%">
        </div>
        <div class="col-md-6 details">
            <h1 class="text-center">{{userObj.username}}</h1>
            <h5 class="mt-5 pt-2"><i class="fa fa-envelope pe-2" aria-hidden="true"></i>{{userObj.email}}</h5>
            <h5 class="mt-2 pt-2 "><i class="fa fa-mobile pe-2 " aria-hidden="true"></i>{{userObj.phonenumber}}</h5>

            <h5 class="mt-2 pt-2"><i class="fa fa-address-card pe-2" aria-hidden="true"></i>
                {{userObj.address}}, 
                {{userObj.city}}, 
                {{userObj.state}}, 
                {{userObj.pincode}}.
            </h5>
        </div>

    </div>
    <button class="btn btn-success mx-auto d-block mt-1" (click)="edit()"><i class="fas fa-user-edit"></i> Edit Profile</button>

</div>
