<div class="container">
    <h2 class="text-center mb-5">Wishlist</h2>
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let b of wishlist,let i=index">    
            <div class="card mb-3" style="max-width: 550px;"  >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img [src]=b.bookImgLink class="card-img-top  image-fluid"  style="height: 300px;" alt="...">
                 
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <strong class="card-title mb-2">{{b.booktitle}}</strong>
                        <span class="text-muted mb-5"> {{b.publisher}}</span>
                        <p class="card-title">Author: {{b.author}}</p>
                        <p class="card-title price">Price: {{b.price | currency:"INR"}}</p>
                        <p class="card-title pb-4" *ngIf="b.rating<4">Rating: <span class="bg-warning text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                        <p class="card-title pb-4" *ngIf="b.rating>=4">Rating: <span class="bg-success text-light px-1 rounded-pill ">{{b.rating}}<i class="fas fa-star fa-xs"></i></span></p>
                    
                        <button class="btn btn-danger mb-auto d-block float-start"(click)="delete(i)"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
                        <button class="btn btn-warning mb-auto text-light d-block float-end"(click)="additem(b)"><i class="fas fa-shopping-cart"></i>Addtocart</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>    
</div>


