<div class="container-fluid mt-5 mb-2">
    <div class="row">
        <div class="col-sm-2 bg-dark">
            <nav class="nav my-3">
                <li class="nav-item">
                    <a routerLink="/user/userdashboard/usercart" class="nav-link mr-5"><i class="fas fa-shopping-cart"></i> Cart </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/userdashboard/wishlist" class="nav-link"><i class="fas fa-heart"></i> WishList</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/userdashboard/myorder" class="nav-link"><i class="fas fa-clipboard-list"></i> My Orders</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/userdashboard/userprofile" class="nav-link"><i class="fas fa-user-circle"></i> My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLink="/home"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a>
                </li>
            </nav>   
        </div>
                
        <div class="col-sm-10 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
            
