a{
    font-size: medium;
    color: white;
    font-family:poppins;
    cursor: pointer;
}
.navbar .nav-link{
    font-size: 17px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.navbar-brand{
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    color: white;
}
.container{
    font-family:poppins;
}

.carousel{
    padding-left: 5%;
    padding-right: 5%;
}