<div class="container-fluid my-5">
    <div class="row">
        <div class="col-sm-2 bg-dark">
            <nav class="nav my-3">
                <li class="nav-item">
                    <a><strong class="text-white nav-link">Categories</strong></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/categorybooks" class="nav-link">Full Stack Developer</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">AngularJS </a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">Modern JavaScript</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">NodeJS </a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">HTML, CSS & RWD</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">MongoDB</a>
                </li>
                
            </nav>   
        </div>
    
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
