a{
    font-size: medium;
    color: white;
    font-family:poppins;
    cursor: pointer;
}
nav a:hover{
    color: darkcyan;
}
.second-nav{
    top: 55px;
}
.navbar-brand{
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    color: white;
}
.container{
    font-family:poppins;
}

.carousel{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#buttonfix{
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color:#0033a0 ;
    font-size: 1rem;
}