ngb-rating {
    color: #FFC107;
    font-size: 25px;
}
.container{
    font-family:poppins;
}
strong,p{
    font-size: 15px;
}
.price{
    font-family: Arial,sans-serif;
    font-size: 21px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;  
}
.line1-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;  
}